*{

    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type:none;
}
a{
    text-decoration: none;
}
/* login  styles*/
.nav-item .nav-link{
    font-weight: 800 !important;
    font-size: 20px !important; 
    color: rgb(3, 3, 109) !important; 

}
a.nav-link{
    padding: 2px 5px !important;
}
.nav-item a:hover{
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
  
}


.c-f{
    background-color: #ecf0f4;
}

/*login image */
.img-con{
    background-color: #ecf0f4;
}
.l-con{
    background-image: url('../images/login-page-img.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size:cover ;
  
}

.con-text{
    font-weight: 900;
    font-size: 55px;
    line-height: 1;
}

.l-text{
    font-weight: 800;
}
.l-form .form-control{
    background-color: rgb(245, 245, 245);
    font-size: 20px;
  
}

.circle .fab{
    font-size: 40px;
}
.circle{
    padding:8px 10px 8px 10px;
    border-radius: 50px;
    background-color: aqua;
    width: 60px;

}
.circle, .fab:hover{
    background-color: beige;
}

/* Styles for register page */
.c-r{
   background-color: #ecf0f4;
}
.line{
    background-color: black;
    padding: 3px 35px;
    width: 10px;
}
.form .form-control{
    width: 90%;
    border-radius: 20px;
    padding: 15px;
}
.form{
    font-size: 16px;
}